.btn5 {
  transition: 0.5s;
  background-color: #ff8d03;
  color: #000;
}

.btn5:hover {
  background-color: #786464;
  color: #fff;
}
.inp {
  border: none;
  border-bottom: 3px solid black;
  width: 100%;
  background-color: rgb(185, 185, 183);
  outline: none;
  height: 50px;
  border-radius: 20px;
  padding: 5px 15px;
}
