.mainNav {
    display: flex;
    justify-content: space-between;
    padding: 0.7rem;
    align-items: center;
    background-color: #000;

  }
  

  
  .list {
    text-decoration: none;
    color: aliceblue;
    margin: 1rem;
    transition: 0.5s;
    padding: 5px;

  }
  
  .list:hover {
    color: rgb(244, 145, 16);
    /* background-color: rgb(4, 66, 66); */
    border-radius: 20px;
    cursor: pointer;
  }
  
  
  
  .btn1 {
    display: none;
    box-shadow: 3px 3px 10px #fff;
  }
  
  .model {
    border: 1px solid #fdd;
    position: fixed;
    inset: 0;
    background-color: rgba(20, 19, 19, 0.734);
    backdrop-filter: blur(5px);
    z-index: 1;
  }
  @keyframes myMove{
      0% {scale: 0}
     
      70% {scale:1.1}
      100%{scale:1}
  
  }
  
  .popup {
      animation:myMove 1s ;
    border: 1px solid #fdd;
    display: grid;
    background-color: rgb(24, 20, 20);
    width: 80%;
    color: #f4e7e7;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    backdrop-filter: 10px;
    border-radius: 50px 0px;
    /* box-shadow: 7px 7px 20px #4f4848; */
    
  }
  .popup .list{
      
      border-bottom:1px solid rgba(204, 199, 199, 0.108);
      padding: .1rem 0px;
      
  }
  button{
      all: unset;
  }
  
  .icon-menu {
      background-color: #0f0d0d;
      padding: 8px;
      border: 2px double rgb(246, 165, 1);
      transition: .7s;
     border-radius: 50%;
      text-align: center;
      color: rgba(240, 248, 255, 0.459);
    box-shadow: 5px 5px 10px #ff9900 , -5px 5px 10px #ff9900;

  }
  
  .icon-menu:hover:hover{
      background-color: #4f4848;
      border: 2px double rgb(89, 116, 102);
      box-shadow: 2px 2px 10px rgb(152, 170, 125);
      cursor: pointer;
      color: azure;
    
  }
  .icon-close{
      padding: 8px;
      transition: .7s;
      text-align: center;
  }
  .icon-close:hover{
      rotate: 180deg;
      color: rgb(241, 23, 23);
      scale: 1.2;
  
    
      
      
  
  }
  
  button:active{
      scale: .7;
  }
  
  @media (max-width: 760px) {
    nav {
      display: none;
    }
    .btn1 {
      display: block;
    }
  }
  
  
  
  