main{
    width: 100%;
    height: 500px;
    background-image: url("../images/Photographer.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: azure;
}