main{
    width: 100%;
    /* background-image: url("../images/Photographer.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: azure; */
}

.Carousel{
    display: flex;

    /* justify-content: center; */
   /* text-align: end; */
}