.list{
    color: #fff;
    transition: 1s;
}

.list:hover{
    color: rgb(244, 145, 16);
    background-color: rgb(4, 66, 66);
    border-radius: 20px;
    
}


nav{
    padding: 5px;
}


@media (max-width: 480px){
    nav{
        width: 100%;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }
    
    }