
.icon-phone ,.icon-email{
    color: #093266;
    font-size: 20px;
}
/* header{
    padding: 0 10px;
    margin: auto 5px;
} */

@media (max-width: 380px){

.mail , .img{
    scale: .7;

}



}


