header {
  overflow-x: hidden;
}
.icon-phone,
.icon-email {
  color: #093266;
  font-size: 20px;
}

@media (max-width: 380px) {
  header {
    overflow-x: hidden;
  }
  .mail,
  .img {
    scale: 0.7;
  }
}
